/* 
-------------------------------------------------

/* --------------------------- Variables */

:root {
  --main-color: rgba(207, 122, 247, .6);
  --white-color: #fff;
  /* Tamaño de fuente */
  --fuente-veinte: 20px;
  /* Sombra */
  --box-shadow: 0px 0px 10px #000;
}

/* --------------------------- Variables */

body {
  background-image: url(../Images/nfondo2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

html, body {
  padding: 0px;
  margin: 0;
  font-size: var(--fuente-veinte);
  font-family: fantasy;
}

/* --------------------- Header Section */

nav {
  display: flex;
  padding: 5px;
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .4);
}

.brand_logo {
  display: flex;
  align-items: center;
}

p a[class="logo"] {
  font-size: 30px;
  font-family: cursive;
  margin: 0px;
}

.brand_logo img {
  margin: 8px 15px 5px 10px;
  max-height: 60px;
  width: auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding-right: 30px;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

li a:active {
  color: var(--main-color);
}

/* --------------------- Main Section */

.main_section {
  padding: 5% 22% 5% 22%;
  text-align: center;
  font-size: 23px;
  font-style: italic;
  color: var(--white-color);
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  height: auto;
  background-color: rgba(0, 0, 0, .4);
}

.img_content {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.img_content img {
  height: 140px;
  width: auto;
}

.product {
  padding: 50px 100px;
}

.content {
  position: relative;
  background-color: rgba(0, 0, 0, .8);
  color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box-shadow);
  width: 270px;
  height: 520px;
  font-style: italic;
}

.content ul {
  padding-inline-start: 25px;
}

.content h2 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.main_button {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  width: 100%;
  padding: 10px;
  font-size: var(--fuente-veinte);
  color: var(--white-color);
  font-weight: bold;
  border: 0;
  align-items: baseline;
  outline: none;
}

.main_button:hover {
  background-color: rgba(102, 0, 197, .6);
  cursor: pointer;
}

/* ------------------- Beneficts Section  */

.beneficts {
  text-align: center;
  padding: 10px;
}

.benefict {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: space-around;
  padding: 50px;
}

.content_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  padding: 15px;
  box-shadow: var(--box-shadow);
  width: 230px;
  height: 360px;
  font-style: italic;
  color: var(--white-color);
}

.content_two .img_content_two img {
  max-height: 110px;
  width: auto;
  margin: 10px;
  padding: 10px;
}

.content_two h3, p {
  margin: 8px 0px;
}

.content_two p {
  width: 200px;
}

/* ----------------------- Mentions Section  */

.mentions {
  height: auto;
  background-color: rgba(0, 0, 0, .4);
}

.mention { 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px 0px;
  text-align: center;
}

.content_three {
  background-color: rgba(0, 0, 0, .8);
  color: var(--white-color);
  padding: 10px;
  box-shadow: var(--box-shadow);
  width: 280px;
  height: 200px;
  font-style: italic;
}

.img_content_three {
  margin-left: -10px;
}

.content_three h3, p {
  margin: 5px 0px;
}

/* ------------------------------ Footer Section  */

footer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0px 15px;
  align-items: center;
  font-size: 16px;
  color: var(--white-color);
}

/* ------------------------------- Sales Section  */

.sale_container {
  background-color: rgba(0, 0, 0, .4);
  font-size: 18px;
}

.sale_container .row .column_4 {
  padding-left: 160px;
  padding-right: 30px;
}

.sale_container .row .column_8 {
  padding-left: 30px;
  padding-right: 160px;
}

.column_4 .sale_module {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .8);
  color: var(--white-color);
  padding: 30px;
  box-shadow: var(--box-shadow);
  height: 426px;
}

.img_module img {
  width: 200px;
  height: auto;
}

.sale_module ul {
  margin: 0;
}

.sale_module p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: bold;
}

.column_8 .sale_module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, .8);
  color: var(--white-color);
  padding: 30px;
  box-shadow: var(--box-shadow);
  height: 426px;
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 12px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 2px;
  outline: none;
  height: 35px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, .9);
  color: var(--white-color);
}

ul {
  line-height: 24px;
}

/* ----------------------- Payment Results Section  */

.payment_box {
  background-color: rgba(0, 0, 0, .4);
  font-size: 18px;
  padding: 30px;
}

.payment_result {
  display: flex;
  justify-content: center;
}

.result_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .8);
  padding: 30px;
  height: 426px;
  width: 65%;
  color: var(--white-color);
  text-align: center;
}

.result_img img {
  width: 200px;
  height: auto;
}